[package]
name = "sequoia-ipc"
description = "Interprocess communication infrastructure for Sequoia"
version = "0.7.0"
authors = [
    "Justus Winter <justus@sequoia-pgp.org>",
    "Kai Michaelis <kai@sequoia-pgp.org>",
    "Neal H. Walfield <neal@sequoia-pgp.org>",
]
documentation = "https://docs.sequoia-pgp.org/0.7.0/sequoia_ipc"
homepage = "https://sequoia-pgp.org/"
repository = "https://gitlab.com/sequoia-pgp/sequoia"
readme = "README.md"
license = "GPL-3.0"

[badges]
gitlab = { repository = "sequoia-pgp/sequoia" }
maintenance = { status = "actively-developed" }

[dependencies]
sequoia-openpgp = { path = "../openpgp", version = "0.7" }
sequoia-core = { path = "../core", version = "0.7" }

capnp-rpc = "0.9"
failure = "0.1.2"
fs2 = "0.4.2"
futures = "0.1"
libc = "0.2.33"
memsec = "0.5.4"
rand = "0.6"
tokio-core = "0.1"
tokio-io = "0.1.4"
